<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro de Usuario</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>
    <div class="login-container">
        <h2 class = "form-registro">Formulario de Registro</h2>

        <!-- Bloque para mostrar errores generales del formulario (ej: contraseñas no coinciden) -->
        {% if form.non_field_errors %}
            <div class="messages error">
                {% for error in form.non_field_errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
        
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Registrarse</button>
        </form>
        
        <!-- Añadimos la clase para que el estilo sea consistente con el login -->
        <p class="texto-registro">¿Ya tienes una cuenta? <a href="{% url 'login' %}">Inicia sesión aquí</a></p>
    </div>
    <script src="{% static '/js/mario-audio.js' %}"></script>
</body>
</html>
